<div class="col-md-12 detail">

  <div class="form-group">
    <label for="firstname">First Name :
      <h3 id="firstname">{{personne.firstName}}</h3>
    </label>
  </div>


  <div class="form-group">
    <label for="name">Name :
      <h3>{{personne.name}}</h3>
    </label>
  </div>

  <div class="form-group">
    <label for="name">Age :
      <h3>{{personne.age}}</h3>
    </label>
  </div>

  <div class="form-group">
    <label for="name">fonction :
      <h3>{{personne.fonction}}</h3>
    </label>
  </div>

</div>
