/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


div.container {background-color: yellowgreen; margin: auto;  margin-top: 1em; padding: 1em;}

body {background-color: powderblue;}
